build --build_metadata=REPO_URL=https://github.com/buildbuddy-io/buildbuddy.git

build --build_metadata=VISIBILITY=PUBLIC

build --workspace_status_command=$(pwd)/workspace_status.sh

--build_metadata=BRANCH_NAME=$(git rev-parse --abbrev-ref HEAD)

build --bes_results_url=https://app.buildbuddy.io/invocation/
build --bes_backend=grpcs://remote.buildbuddy.io
build --remote_cache=grpcs://remote.buildbuddy.io
build --noremote_upload_local_results # Uploads logs & artifacts without writing to cache
build --remote_timeout=3600
build --remote_header=x-buildbuddy-api-key=gXnZ4bKMhgivJ7ET0gdE